body {
  font: 10px sans-serif;
  padding-top: 100px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.container {
  float: left;
}

#chart-container {
  margin-top: -100px;
  margin-left: -20px;
}

/*** Chord Diagram ***/

.chord {
  fill-opacity: .5;
  stroke-width: 0;

  -webkit-transition: fill-opacity .4s;
     -moz-transition: fill-opacity .4s;
       -o-transition: fill-opacity .4s;
          transition: fill-opacity .4s;
}

.arc path {
  stroke-width: 0;
  opacity: .8;

  -webkit-transition: opacity .2s;
     -moz-transition: opacity .2s;
       -o-transition: opacity .2s;
          transition: opacity .2s;
}

.arc text {
  opacity: .8;

  -webkit-transition: opacity .2s;
     -moz-transition: opacity .2s;
       -o-transition: opacity .2s;
          transition: opacity .2s;
}

.arc .tick {
  stroke-opacity: .3;
}

.fade-chords .chord {
  fill-opacity: .03;
}
.fade-arcs .arc path,
.fade-arcs .arc text {
  opacity: .08;
}

.chord:hover {
  fill-opacity: 1;
  stroke-width: 1;
}
.fade-chords .chord.highlighted {
  fill-opacity: .8;
}

.arc:hover path,
.arc:hover text {
  stroke-width: 1;
  opacity: 1;
}
.fade-arcs .arc.highlighted path,
.fade-arcs .arc.highlighted text {
  opacity: .8;
}

/*** Info ***/

#info-container {
  width: 400px;
  margin-right: 20px;
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 18px;
}
#info-container a {
  text-decoration: none;
}
#info-container i {
  white-space: nowrap;
}
#info-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#info-container .appearance {
  display: none;
}

/*** Controls ***/

#controls-container {
  font-size: 12px;
  margin-top: 40px;
  margin-bottom: 40px;
}
